name: ci

on:
  push:
    branch:
      - master
  pull_request:

jobs:
  build_test:
    name: build_test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: build
        run: make build
      - name: test
        run: make test
